<script src="https://kit.fontawesome.com/c416561167.js" crossorigin="anonymous"></script>

<% if current_user %>
  <footer class="global-footer">
    <div class="home-icon footer-nav-item">
      <%= link_to posts_path(@post), aria: { label: 'Home' } do %>
        <i class="footer-icon fas fa-home"></i>
        <span class="footer-label">Home</span>
      <% end %>
      <% unless current_user.notifications.unread.count == 0 %>
        <%= render 'shared/notification_badge' %>
      <% end %>
    </div>
    <%= link_to artists_path(@artist), class: 'footer-nav-item', aria: { label: 'Artists' } do %>
      <i class="footer-icon fas fa-music"></i>
      <span class="footer-label">Artists</span>
    <% end %>
    <%= link_to discover_artists_path, class: 'footer-nav-item', aria: { label: 'Discover' } do %>
      <i class="footer-icon fas fa-globe"></i>
      <span class="footer-label">Discover</span>
    <% end %>
  </footer>
<% end %>
