// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "devise/new";
@import "artists/index";

.app-height {
  min-height: calc(100vh - 120px);
  padding-bottom: 69px;
}

.app-height h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 39px;
  margin-left: 14px;
  margin-top: 8px;
}
