.artist-info {
  display: grid;
  grid-template-columns:1fr 116px;
  width: 100%;
  padding: 0 16px;
}

.artist-details p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 10px;
  width: auto;
  margin-bottom: 18px;
}

.artist-details h3 {
  font-family: Roboto;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
  text-align: center;
}

.artist-img img {
  border-radius: 50%;
  width: 116px;
  height: 116px;
}

.artist-page-wrapper {
  width: 100%;
  padding: 0;
  padding-top: 16px;
}
